@model Employee
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<form asp-controller="EmployeeManager"
      asp-action="Update"
      method="post">
    <table border="0">
        <tr>
            <td><label asp-for="EmployeeID"></label></td>
            <td><input  type="hidden" asp-for="EmployeeID" /></td>
        </tr>
        <tr>
            <td><label asp-for="FirstName"></label></td>
            <td>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="LastName"></label></td>
            <td>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Title"></label></td>
            <td>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="BirthDate"></label></td>
            <td>
                <input type="date" asp-for="BirthDate" />
                <span asp-validation-for="BirthDate"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="HireDate"></label></td>
            <td>
                <input type="date" asp-for="HireDate" />
                <span asp-validation-for="HireDate"></span>
            </td>
        </tr>

        <tr>
            <td><label asp-for="Country"></label></td>
            <td>
                <select asp-for="Country" asp-items="@ViewBag.Countries">
                    <option value="Please select"></option>
                </select>
                <span asp-validation-for="Country"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Notes"></label></td>
            <td>
                <textarea asp-for="Notes" rows="5" cols="40"></textarea>
                <span asp-validation-for="Notes"></span>
            </td>

        </tr>
        <tr>
            <td><button type="submit">Update</button></td>
            <td><a asp-action="List" asp-controller="EmployeeManager">Back to list</a></td>
        </tr>
    </table>

</form>

